* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*header*/

.header {
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    padding: 1em 10em; 
    background-color: #1f2937;

}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 1em;
    background-color: #1f2937;

}

.nav {
    display: flex;
    gap: 20px;
    background-color: #1f2937;

}

.logo {
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;

}


/* Hero */
a, .hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    color: #f9faf8;
    padding: 7em 10em; 
    display: flex;
    background-color: #1f2937;
}

.hero-left {
    font-size: 48px;
    color: #F9FAF8;   
    width: 50%; 
    
}

.hero-left strong {
    font-weight: bolder;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
} 

/* Image */

img {
    width: 100%;
    padding: 0em 3em;
}

.img {
    position: relative;
    text-align: center;
    color: black;
}

/* Image Placeholder Text
.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:xx-small;
} */

/* Quote */
.quote {
    background-color: #e5e7eb;
    padding: 2em 18em;
}

.quote-text, .quote-small-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-small-text {
    text-align: right;
}

/* Informations Cards */
.information {
    padding: em 10em;
}

.information-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
    padding: 0.5em;
}

.information-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.square {
    border: 5px solid rgb(55, 128, 246);
    border-radius: 10px;
    width: 160px;
    height: 160px;
}

.card {
    text-align: center;
    max-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

button {
    background-color: #3882F6;
    color: white;
    display: flex;
    padding: 1em 2em;
    border-radius: 15px;
    margin: 2em 0em;
    text-align: center;
    align-content: center;
}

/* Call to Action */

.container {
    display: flex;
    background-color: white;
    justify-content: center;
    margin: 5em;
}

.container button {
    margin: 0em 2em;
    border-radius: 5px;
    border: white solid 1px;
    align-self: center;
}

.call-to-action {
    background-color: #3882F6;
    padding: 2em 10em;
    display: flex;
    border-radius: 20px;
    align-self: center;
}

/*footer*/

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    min-height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
}
