* {
    list-style: none;
    text-decoration: none;
    /*border: 2px solid red;*/
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    
}



/*header*/

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
    height: 120px;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
}

a, .hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:900;
    color: #f9faf8;
    flex: 1;
}

.hero-left {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
} 



img {
    width: 300px;
    height: 150px;
}

.img {
    position: relative;
    text-align: center;
    color: black;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:xx-small;
}

.logo {
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
}

.nav {
    display: flex;
    gap: 20px;
}

.header-links {
    display: flex;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text, .quote-small-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-small-text {
    text-align: right;
}

.information-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

button {
    background-color: #3882F6;
    color: white;
}

.call-to-action {
    background-color: #3882F6;
}

/*footer*/

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    min-height: 80px;

}
